name: Build

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build

      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: nextjs-build
          path: .next/
          retention-days: 7
