name: Build

on:
  push:
    branches-ignore:
      - main

jobs:
  Build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: nextjs-build
          path: .next/
          retention-days: 7
