name: 'Deploy Chromatic'

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  chromatic-deployment:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup
        with:
          setup-env: 'false'

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
