name: Lint

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  Lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Type check
        run: pnpm check-types

      - name: Lint
        run: pnpm lint

      - name: Check unused dependencies
        run: pnpm lint:knip

      - name: Test
        run: pnpm test:unit
