name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Type check
        run: pnpm check-types

      - name: Lint
        run: pnpm lint

      - name: Check unused dependencies
        run: pnpm lint:knip

      - name: Test
        run: pnpm test:unit
