name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main

jobs:
  Lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Type check
        run: pnpm check-types

      - name: Lint
        run: pnpm lint

      - name: Check unused dependencies
        run: pnpm lint:knip

      - name: Test
        run: pnpm test:unit
