name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm test:unit
