name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm test:unit
