name: Test

on:
  push:
    branches-ignore:
      - main

jobs:
  Test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Project
        uses: ./.github/actions/setup

      - name: Test
        run: pnpm test:unit
